<h2><%= @gallery.name %></h2>
<p><%= @gallery.description %></p>


<% @gallery.images.each do |image| %>
<%= link_to image_tag(image.url), "/galleries/#{@gallery.id}/images/#{image.id}/edit" %>
<% end %>

<%= link_to "Edit gallery: #{@gallery.name}", "/galleries/#{@gallery.id}/edit" %>
<%= link_to "Destroy!", "/galleries/#{@gallery.id}", method: :delete %>
<%= link_to "Add an image", "/galleries/#{@gallery.id}/images/new" %>
