<div>
  <%= form_for @image do |form| %>
    <%= render "error_messages", target: @image %>
    <%= render "form", form: form %>
    <%= form.submit "Update image" %>
  <% end %>
</div>

<div>
  <%= form_for [@image,@tag] do |form| %>
    <%= form.label "Add new tags seperated by commas" %>
    <%= form.text_field :name %>
    <%= form.submit%>
  <% end %>
</div>
