<%= form_for @image do |form| %>
  <%= render "error_messages", target: @image %>

  <%= render "form", form: form %>
  <div>
    <%= form.label "Tags" %>
  <%= form.collection_check_boxes :tag_ids, @tags, :id, :name %>
  </div>
  <%= form.submit "Update image" %>
<% end %>
